*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    
    
}

body{
    overflow-x: hidden; 
    height: 3000px;
    margin:0;
    padding: 0;
    width: 100vw;

}

h1, h3, pre{
    display: flex;
    justify-content: center;
    align-items: center;
}


section{
    padding: 20px 0;
}

.flex>div{
width: 50px;
height: 50px;
background-color: gray;
color: white;
}

.flex{
    display: flex;
    flex-direction:row;
    border: 1px solid gray;
    gap: 8px;
    padding: 8px;
}


.flex_row{
    flex-direction: row;
}

.row_reverse {
    flex-direction: row-reverse;
}

.flex_column{
    flex-direction: column;
}

.column_reverse {
    flex-direction: column-reverse;
}

.hash_navigation {
height: 40px;
background-color: rgb(214, 70, 13);
color: white;
padding: 0 25px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 40px;

}


.hash_navigation a{
    color: white;
    text-decoration: none;
    font-weight: 200px;
    
}

.hash_navigation>a:hover {
    color: blue;
    text-decoration: none;
    font-weight: 200px;
}

.page_navigation {
    height: 60px;
    background-color: black;
    color: white;
    padding: 0  25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    bottom: 0;
    
}

.page_navigation a{
text-decoration: none;
margin-right: 10px;
color: white;
font-weight: lighter;
}

.flex_wrap{
    flex-wrap: wrap;
}

.flex_wrap div{
    width: 100px;
    height: 100px;
}

.flex_no_wrap {
    flex-wrap: nowrap;
}

.flex_no_wrap  div {
    width: 100px;
    height: 100px;
}

.justify_center{
    justify-content: center;
}

.flex_start{
    justify-content: start;
}

.justify_end{
    justify-content:end;
    
}

.justify_space_between{
    justify-content:space-between;
}

.justify_space_around {
    justify-content:space-around;    
}

.justify_space_evenly{
    justify-content:space-evenly;
}

.align_center{
    height: 300px;
    align-items: center;
}

.align_start{
    height: 300px;
    align-items:flex-start;
}

.align_end{
    height: 300px;
    align-items:flex-end;
}

.align_baseline{
    height: 300px;
    align-items: baseline;
}

.align_stretch {
    height: 300px;
    align-items:stretch;
}
.initial_height p {
    height: initial;
    background-color: aqua;
}